*{
            margin:0;
            padding: 0;

}



html{
    color: #FFB0E0 ;

    font-family: 'Muli', sans-serif;
    letter-spacing: 0.2px;

}


#wrap {
    background: #374675;

}
#wrap2 {
    background: #97ADE7;
    background:linear-gradient(to bottom, #97ADE7 489px, #FFFFFF 489px);

}
#wrap3 {
    background: #374675;
}

#wrap4 {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header{
    width: 1460px;
    margin: 0 auto;
    line-height: 62px;
}




header{
    height: 62px;
}

.name{
    vertical-align: center;

    line-height: 20px;
    font-family: 'Muli', sans-serif;
    margin-left: 20px;
    padding-top: 9px;
    font-weight: 800;
    color: #FFEEF8;
    display: inline-block;

}

.name2{
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    color: #FFEEF8;
    opacity: 0.9;
}
.name1{
    font-size: 14px;
    display: block;
}

main{
     width: 1460px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    display:  inline-block;
    color: #FFB0E0;

}

.logo{
    font-size: 30px;
    display: inline-block;
    position: relative;
    top: -5px;
}




.container {
  position: relative;
    height: 100%;
  overflow: hidden;
}

#footercontent{
	width: 1460px;
	margin: 0 auto;
	overflow: hidden;
	line-height: 125px;
}

@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;400;800&display=swap');

.form {
    width: 673px;
    background-color: #FFFFFF;
    height: 36px;
    position: relative;
}
.fa fa-search{
    font-weight: 22px
}
.form1{
    position: absolute; /* Абсолютное позиционирование */
    left: 29%; /* Положение слоя от левого края */
    top: 15px;
}

.form1 button{
    width: 45px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #EDF2FF;
    border: none;
    outline: none;
    font-size: 16px;

    color: #1E2C59;
}

input[type="search"]::placeholder {
    color: #1E2C59;
    font-size: 14px;
}

input[type="search"]{
    color: #1E2C59;
    border: none;
    outline: none;
    margin-left: 14px;
    height: 36px;
    width: 614px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    line-height: 36px;
    font-size: 14px;
}

nav {
  width: 130px;
    position: absolute;
    right: 3.5%;
    top: 0px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
    font-size: 14px;
}
.topmenu > li {
  display: inline-block;
  margin-right: 0px;
  position: relative;
}
.topmenu > li:last-child {
  margin-right: 0;
}
a {
  transition: .9s linear;
}

.submenu {
  position: absolute;
  top: 90%;
  left: 0px;
  width: 100%;
  z-index: 10;
  transition: 0.3s ease-in-out;
    line-height: 40px;
    background: #374675;
    border: none;
}

 ul {
}
.submenu {
    transform: scaleY(0);
    transform-origin: 0 0;
}
ul li:hover .submenu {
    transform: scaleY(1);
}
ul a {
    color:#FFEEF8;;
}

#fa-angle-down{
    font-size: 26px;
    color: #FFB0E0;
    padding: 6px;
    margin-top: 0px;
    position: relative;
    top: 3px;
}
#films{
    display: inline;
    margin-top: 0px;

}

.submenu a{
    padding-left: 30px;

}
#menu{
}

#play{
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 2%;

}
#fa-play-circle{
    font-size: 30px;
}

#main-one{
    height: 489px;

}
main{
    color: #101A39;
}
h1{
    font-size: 32px;
    padding-bottom:29px;

}
#text-one{
    width: 525px;
    position: relative;
    top: 108px;
    left: 51px;
}
#start{
    color: #101A39;
    padding: 17px 35px;
    background-color: #FFB0E0;
    position: absolute;
    left: 0;
    border-radius: 4px;
    font-weight: 600;
}
#text-one p{
    margin-bottom: 56px;
    font-size: 16px;
}

#text-one button{
    position: absolute;
    bottom: -220px;
    left: 0;
    font-size: 60px;
    border: none;
    outline: none;
    background-color: transparent;
    line-height: 56px;
    color: #FFEEF8;;
}
button{
    cursor: pointer;
}
#movies1{
    height: 443px;
    width: 723px;
    background-color: #FFFFFF;
    position: relative;
    top: -182px;
    left: 700px;
}
h2{
    padding-top: 17px;
    padding-left: 35px;
    padding-bottom: 15px;

}

.m1{
    padding-left: 35px;
}
.row1{
    height: 251px;
    width: 184px;
    background-color: aqua;
    display: inline-block;
    margin-right: 45px;

}
.row1:last-child{
    margin: 0;
}
#new1{
    background: url(../media/img3.png)
}
#new2{
    background: url(../media/img4.png)
}
#new3{
    background: url(../media/img6.png)
}
.line{
    height: 1px;
    width: 649px;
    background-color: #101A39;
    margin-left: 35px;
    margin-top: 11px;
    margin-bottom: 13px;

}
.m2{
    padding-left: 35px;
}
.row2{
    width: 184px;
    display: inline-block;
    margin-right: 45px;

}
.row2:last-child{
    margin: 0;
}
.row2 a{
    color: #101A39;
    padding: 10px 20px;
    background-color: #FFB0E0;
    border-radius: 4px;
    font-weight: 400;
    margin-top: 10px;

}

#main-two{
    position: relative;
}

#h2{
    padding-top: 54px;
    padding-left: 53px;
    font-size: 28px;
    margin-bottom: 28px;
}
#main-two button {
    font-size: 60px;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    top: -130px;
    margin: 15px;
}
#main-two div{
    display: inline-block;
}
#row3-1-1{
    background-image: url(../media/img5.png);
    height: 300px;
    width: 212px;
}
#row3-1-2{
    background-image: url(../media/img1.png);
    height: 300px;
    width: 212px;
}
#row3-1-3{
    background-image: url(../media/img2.png);
    height: 300px;
    width: 212px;
}

.row3-1 p{
font-weight: bold;
font-size: 18px;
margin-top: 20px;

}
.par{
    position: absolute;
    padding-left: 29px;
    line-height: 23px;

}
.row3-1{
    width: 400px;
    position: relative;
    margin-right: 77px;
}
.row3-1:last-child {
    margin: 0;
}
.name3{
    margin-bottom: 40px;
}
.row3-1 p span{
    font-weight: 400;
    padding-left: 5px;
}
.row3 a{
    color: #101A39;
    padding: 10px 20px;
    background-color: #FFB0E0;
    border-radius: 4px;
    margin-top: 25px;
    font-weight: 400;

}
#main2 button:last-child {
    margin-right: 0px;
}
#main2{
    margin-bottom: 35px;
}
#start1{
    color: #101A39;
    padding: 17px 35px;
    background-color: #FFB0E0;
    border-radius: 4px;
    font-weight: 600;
    position: relative;
    left: 55px;
    margin-bottom: 65px;
}


.section {
  background: #1D2439;
  color: #FFEEF8;
}
.settings {

}

.sh2 {
  margin-bottom: 40px;
  margin-left: 0;
  padding: 0;
  padding-top: 20px;
}

.settings-pick {
  margin-bottom: 20px;
}

.pick {
  margin-bottom: 10px;
}

.form-pick {
  margin: 20px 0;
}

.form-pick button {
  width: 45px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #EDF2FF;
  border: none;
  outline: none;
  font-size: 16px;

  color: #1E2C59;
}

.form2 {
  width: 350px;
  height: 30px;
}

input[type="search"]{
    width: 335px;
    height: 30px;
}

.invite {
  margin-bottom: 20px;
  margin-top:20px;
}

.link-text {
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 5px;
}

.copy-link {
  display: flex;
}

.link-placeholder {
  width: 335px;
  height: 30px;
  background-color: #fff;
  color: #1E2C59;
  width: 305px;
  margin: 0;
  text-decoration: none;
  display: block;
  outline: 0;
  box-sizing: border-box;
  padding-left: 10px;
}

input[type="text"] {
  border: none;
  outline: none;
}

.btn {
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  margin: 0;
  width: 45px;
  height: 30px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  font-size: 13px;
  border: none;
  outline: none;
  background-color: #EDF2FF;
  color: #1E2C59;
}

.copy-link button {
  background-color: #EDF2FF;
}

.sh2-player {
  margin-bottom: 0;
  display: block;

}

.video {
  width: 900px;
  height: 600px;
  margin-top: 50px;
  margin-bottom: 150px;
}

.wrap-com {
  margin-top: 100px;
  background-color: #2F3A59;
  width: 430px;
  height: 550px;
}


.com-wrapper {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.nickname {
  margin-bottom: 3px;
}

:focus::-webkit-input-placeholder { color:transparent; }
:focus::-moz-placeholder { color:transparent; }
:focus::placeholder { color:transparent; }

.nick {
  width: 409px;
  padding: 0;
  height: 35px;
  padding-bottom: 10px;
}

.nickname-input {
  font-family: 'Muli', sans-serif;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 14px;
  background: #4D6093;
  color: #ADB5CB;
}

.com-text {
  resize: none;
  outline: none;
  border: 0px;
  width: 328px;
  padding-top: 20px;
}

.button-com {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  height: 56px;
  display: block;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  cursor: pointer;
  border: 0px;
  outline: none;
  background-color: #465784;
  color: #ADB5CB;
}

.button-com:hover {
  background-color: #39476B;
}

footer{
    height: 188px;
}
#footercontent{
    line-height: 182px;

}
